@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,600i,700|Oswald:400,700&subset=cyrillic');
@import "slick";
@font-face{
	font-family: 'Celtic';
	src: url(../fonts/CelticGaramondthe2nd.woff) format('woff');
	src: url(../fonts/CelticGaramondthe2nd.woff2) format('woff2');
	font-weight: normal;
    font-style: normal;


}
html{
	 scroll-behavior: smooth;
}
body{
	font: 400 18px/1.3888 'Open Sans', sans-serif;
	margin: 0;
	scroll-behavior: smooth;
	background: #223A44;
	
}
/* Layout */
.ba-container{
	padding-left: 20px;
	padding-right: 20px;
	max-width: 1210px;
	position: relative;
	z-index: 1;
	
	
}
h1,h2,h3,h4,h5,h6{
	margin: 0;
	color: #F9F4F4;
}
/* Typography */
a,
input[type="submit"],
input[type="button"],
button{
	&:focus{
		outline: none;
	}
	text-decoration: none;
	color:	#F9F4F4;
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}
input[type="submit"],
input[type="button"],
button,
.ba-button{
	display: inline-block;
}
input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.ba-button:hover{

}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"],
input[type="tel"],
textarea,
select {
	transition: color .3s ease-in, border-color .3s ease-in, background-color .3s ease-in, opacity .3s ease-in;
}

input[type="text"]:focus,
input[type="email"]:focus,
input[type="password"]:focus,
input[type="number"]:focus,
input[type="tel"]:focus,
textarea:focus,
select:focus {

}
textarea {

}
.ba-next-hair{
	position: absolute;
	content: "";
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #223A44;
	right: 5%;
	bottom: 25px;
	&:hover{
		&::before{
		border-top: 17px solid #CE3A4B;
		transition: border-color .3s ease-in,
		}
	}
	&::before{
		position: absolute;
		top: 19px;
		left: 15px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-top: 17px solid #fff;
		content: '';
	}
}
.ba-prev-hair{
	position: absolute;
	content: "";
	border: none;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	background: #223A44;
	right: 5%;
	bottom: 90px;
	&:hover{
		&::before{
		border-bottom: 17px solid #CE3A4B;
		transition: border-color .3s ease-in,
		}
	}
	&::before{
		position: absolute;
		top: 13px;
		left: 15px;
		width: 0;
		height: 0;
		border-left: 10px solid transparent;
		border-right: 10px solid transparent;
		border-bottom: 17px solid #fff;
		content: '';
	
	}
}
.ba-map{
	height: 700px;
	width: 100%;
	z-index: 0;
	// position: absolute;
	// overflow: hidden;s
}
// .slick-initialized .slick-slider{
// 	div{
// 		display: flex;
// 		justify-content: space-between;
// 	}
// }
.slick-slide{
	// display: flex;
	div + div{
		// margin-left: 30px;
	}
	img + img{
		// margin-left: 20px;
	}
	img{
		display: inline-block;
		width: 24%;
	}

	
}

// .ba-img-slid{
	
// 	img{
// 		width: 100%;
// 		height: auto;
// 		padding: 0 10px;
// 		margin-bottom: 10px;
// 	}
// }

.ba-img-slid{
	// display: flex;
	// justify-content: space-between;
	// .slick-active{
	// 	display: flex;
	// }
	// width: 20%;
}
.ba-haircut-slide{
	// display: flex;
	// position: relative;
}
.slick-vertical .slick-slide{
	
// display: flex;
// justify-content: space-between;

}
.ba-img__block{

	&:focus{
		outline: none;
	}
}

.ba-section-slide{
	padding: 18px 0 19px;
	border-bottom: 1px solid#fff;
}
.ba-section-hair{
	background: #223A44;
	padding: 61px 0 131px;
	border-bottom: 1px solid#fff;
}
.ba-hair__block + .ba-hair__block{
	margin-left: 10px;
}
.ba-hair{
	display: flex;
	justify-content: space-between;
	
	&__block{

		img{
			margin-top: 44px;
		}
		text-align: right;
		a{
			&:hover{
				border-bottom: 1px solid#fff;
			}
			font-size: 24px;
			font-family: 'Oswald', sans-serif;
			letter-spacing: 1px;
			text-transform: uppercase;
			border-bottom: 1px solid transparent;

		}
	}
}
.ba-list-header-hair{
	display: flex;
	align-items: center;
	ul{
		padding: 0;
		margin: 0;
		list-style: none;
		display: flex;
		li+li{
			margin-left: 76px;
		}
		li{
			text-transform: uppercase;
			font-size: 13px;
			a{
				border-bottom: 1px solid transparent;
				
				&:hover{
					border-bottom: 1px solid#fff;
				}
			}
		}
	}
}
.ba-img-header-hair{
	display: flex;
	justify-content: center;
	align-items: center;
	img{
		width: 60px;
		height: 60px;
	}
	h2{
		font: 700 12px/1  'Celtic';
		text-transform: uppercase;
		max-width: 134px;
	}
}
.ba-header-hair{
	background: #CE3A4B;
}
.ba-header-flex{
display: flex;
	justify-content: space-between;
}
.ba-salon__img{
	position: relative;
	.ba-slider__next{
		&::before{
			position: absolute;
			top: 15px;
			left: 15px;
			width: 0;
	height: 0;
	border-top: 10px solid transparent;
	border-right: 15px solid #fff;
	border-bottom: 10px solid transparent;
			content: '';
		}
		position: absolute;
		border: none;
		top: 40%;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #CE3A4B;
		left: 5%;
		
	}
	.ba-slider__prev{
		&::before{
		position: absolute;
		top: 15px;
		right: 15px;
		width: 0;
		height: 0;
		border-top: 10px solid transparent;
		border-left: 15px solid #fff;
		border-bottom: 10px solid transparent;
			content: '';
		}
		border: none;
		right: 5%;
		position: absolute;
		top: 40%;
		width: 50px;
		height: 50px;
		border-radius: 50%;
		background: #CE3A4B;
	}
	
}


.ba-header{
	padding-top: 51px;
	padding-bottom: 25px;
	background-color: #CE3A4B;
	
	
	&__menu{
		position: relative;
		ul{
			list-style: none;
			display: flex;
			padding: 0;
			margin: 0;
			font-size: 14px;
			li{
				border-bottom: 1px solid transparent;
				text-transform: uppercase;
			}
			li + li{
				margin-left: 76px;
				
			}
			li:hover{
				border-bottom: 1px solid#F9F4F4;
				transition: border .3s ease-in;
			}
		}
		h1{
			text-transform: uppercase;
			margin-bottom: 18px;
			font-size: 47px;
			font-family: 'Celtic', sans-serif;
			word-spacing: 28px;
		}
	}
}
.ba-flex-end{
	display: flex;
	justify-content: flex-end;
	position: relative;

}
.ba-header__logo{
	position: absolute;
	content: '';
	background: no-repeat;
	left: 0;
	
	top: -10px;
	
}
.ba-section-change{
	padding: 562px 0 70px;
	background-image: url(../img/photo_women.jpg);
	background-size: cover;
	background-repeat: no-repeat;
}
.ba-portfolio-btn{
	display: flex;
	align-items: flex-end;
	flex-direction: column;

	& h2{
		font: 400 48px/1 'Oswald', sans-serif;
		color: #223A44;
		text-transform: uppercase;
		letter-spacing: 5px;
		margin-bottom: 50px;
		margin-right: 28.5px;
	}
	& a{
		font: 700 24px/1 'Oswald', sans-serif;
		border: 2px solid #F9F4F4;
		text-align: center;
		width: 370px;
		padding: 15px 0 ;
		text-transform: uppercase;
		position: relative;
	}
	& a:hover{
		background: #CE3A4B;
		border: 2px solid transparent;
	}
	& a::after{
		position: absolute;
		content: '';
		width: 0;
	height: 0;
	border-bottom: 26px solid #CE3A4B; 
	border-left: 25px solid transparent;
	right: -2px;
	bottom: -2px;
	}
}
.ba-about-us{
	background: #223A44;
	padding-top: 122px;
	padding-bottom: 69px;
	position: relative;
	overflow: hidden;
	
}

.ba-about-us::after{
	position: absolute;
	content: '';
	left: -42px;
	top: -87px;
	width: 774px;
	height: 232px;
	background: #CE3A4B;
	transform: rotate(-12deg);
	
}
// // .ba-about-us::before{
// // 	position: absolute;
// // 	content: '';
// // 	right: 0;
// // 	top: 69px;
// // 	width: 98px;
// // 	height: 1px;
// // 	background: #F9F4F4;
// }
.ba-about{
	display: flex;
	flex-direction: row;
	align-items: center;
	color: #F9F4F4;
	margin-bottom: 44px;
	& p{
		max-width: 568px;
		margin: 0;
		margin-right: 33px;
		font-size: 18px;

	}
	& span{
		font: 400 24px/1 'Oswald', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
	}
}
.ba-flex{
	display: flex;
	flex-direction: column;
	align-items: flex-end;
	position: relative;
	& h3{
		font: 700 64px/1 'Open Sans', sans-serif;
		text-transform: uppercase;
		margin-bottom: 60px;
	}
}
.ba-anchor__about{
	position: absolute;
	content: "";
	top: -52px;
	right: 0;
	background: transparent;
}
.ba-we-do{
	& ul{
		list-style: none;
		padding: 0;
		margin: 0;
		display: flex;
		& li{
			color: #F9F4F4;
			font: 400 18px/1 'Oswald', sans-serif;
			position: relative;
		}
		& li + li::before{
			position: absolute;
			content: '';
			width: 10px;
			height: 10px;
			background: #CE3A4B;
			border-radius: 50%;
			left: -35px;
			bottom: 1px;
		}
		& li + li{
			margin-left: 56px;
		}
	}
}
.ba-salon{
	background: #223A44;
	padding-bottom: 150px;
	
}

.ba-graph__flex{
	.ba-col-2{
		z-index: 1;
	}
	display: flex;
	justify-content: space-between;
	overflow: hidden;
	margin-top: -63px;
	margin-bottom: 57px;
	& .ba-col-2 + .ba-col-2{
		margin-left: 30px;
	}
}
.ba-graph{
	text-align: center;
	background:#BFC0C2;
	padding: 12px 0 38px;
	& h6{
		color: #223A44;
		font: 700 18px/1 'Oswald', sans-serif;
		margin-bottom: 19px;
		
	}
	& span{
		color: #F9F4F4;
		font: 700 18px/1 'Oswald', sans-serif;
		background: #CE3A4B;
		position: relative;
		z-index: 2;
	}
	& span::before, span::after{
	content: '';
	display: inline-block;
	position: absolute;
	top: 0;
	bottom: 0;
	width: 150%;
	background-color: #CE3A4B;
	}
	& span::before{
		left: -70px;
		z-index: -1;
	}
	& span::after{
		right: -70px;
		z-index: -1;
	}
}

.ba-graph-holiday{
	display: flex;
	justify-content: center;
	flex-direction: column;
	align-items: center;
	& h6{
		color: #223A44;
		font: 700 18px/1 'Oswald', sans-serif;
		
		background: #BFC0C2;
		display: inline-block;
		width: 166px;
		height: 110px;
		text-align: center;
		padding-top: 10px;
		transform: rotate(-10deg);
		position: relative;

	}
	& h6::after{
		position: absolute;
		content: 'выходной';
		top: 43%;
		left: -60px;
		width: 294px;
		background: #CE3A4B;
		transform: rotate(10deg);
		color: #F9F4F4;
		font: 700 18px/1 'Oswald', sans-serif;
		height: 26px;
	}
}
.ba-salon-info{
	background: #223A44;
	padding-bottom: 165px;
	text-align: center;
	z-index: 1;
	position: relative;
	overflow: hidden;
	& a {
		display: inline-block;
		font: 700 24px/1 'Oswald', sans-serif;
		border: 2px solid #F9F4F4;
		text-align: center;
		width: 370px;
		padding: 15px 0 ;
		text-transform: uppercase;
		position: relative;
	}
	& a:hover{
		background: #CE3A4B;
		border: 2px solid transparent;
	}
	& a::after{
		position: absolute;
		content: '';
		width: 0;
	height: 0;
	border-bottom: 26px solid #CE3A4B; 
	border-left: 25px solid transparent;
	right: -2px;
	bottom: -2px;
	}
	& h5{
		font: 400 24px/1 'Oswald', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: right;
		margin: 147px 0 61px;
		
	}
	
	& h4{
		font: 400 24px/1 'Oswald', sans-serif;
		letter-spacing: 2px;
		text-transform: uppercase;
		text-align: right;
		margin-bottom: 78px;
	}
	&__block{
		background: #BFC0C2;
		padding: 24px 0 49px;
		max-height: 270px;
		& h4 {
			text-align: center;
			margin-bottom: 19px;
			font: 400 24px/1 'Oswald', sans-serif;
			color: #223A44;
			
	
		}
		
		
		
		& p{
			max-width: 273px;
			margin: 0 auto;
			margin-top: 18px;
		}	
	}
}

.ba-block-bg{
	position: absolute;
	content: '';
	width: 1045px;
	height: 616px;
	background: #CE3A4B;
	transform: rotate(7deg);
	z-index: -1;
	top: 63px;
	left: 76px;
	
}
.ba-team-comand{
	text-align: right;
	font: 700 64px/1 'Open Sans', sans-serif;
	text-transform: uppercase;
}
.ba-anchor__team{
	background:#223A44;
	position: relative;
	padding-bottom: 57px;
	margin-bottom: 75px;
	#anchor-team{
		position: absolute;
		background: transparent;
		top: -41px;
		right: 0;
	}
}
.ba-btn-sing__up{
	display: flex;
	justify-content: flex-end;
	
}
.ba-team-info{
	background: #BFC0C2;
	padding: 0px 0 113px;
	// & h3{
	// 	padding: 41px 0 45px;
	// 	text-align: right;
	// 	background: #223A44;
	// }
}
.ba-team {
	display: flex;
	justify-content: space-between;
	&__block{
		max-width: 470px ;
	}
	&__people{
		
		& h6{
			text-align: right;
			font: 700 18px/1 'Oswald', sans-serif;
			color: #223A44;
			margin-bottom: 44px;

		}
	}
}
.ba-photo-social{
	position:relative;
	margin-bottom: 55px;
	
	&--facebook{
		display: inline-block;
		position: absolute;
		content: "";
		top: 105px;
		right: 23px;
		width: 35px;
		height: 35px;
		color: #F9F4F4;
	}
	&--insta{
		display: inline-block;
		position: absolute;
		content: "";
		top: 40px;
		right: 23px;
		width: 35px;
		height: 35px;
		color: #F9F4F4;
		
		
	}
	&--insta:hover{
		color: #CE3A4B;
	}
	&--facebook:hover{
		color:#CE3A4B;
	}
}
.ba-team{
	background-image: url('../img/logo-girl.png');
	background-repeat: no-repeat;
	background-position: 50% 21%;
	&__people{
		h6{
			text-transform: uppercase;
		}

		}
}
.ba-team-experience{
	margin: 0;
	margin-bottom: 75px;
}
.ba-social-tel{
	font: 600 18px/1 'Open Sans', sans-serif;
	background-image: url('../img/icon_tel.png') ;
	background-repeat: no-repeat;
	height: 38px;
	text-align: center;	
	padding-top: 8px;
	display: block;
	color: #223A44;
	margin-bottom: 20px;

}
.ba-social-email{
	font: 600 18px/1 'Open Sans', sans-serif;
	background-image: url('../img/icon_mail.png') ;
	background-repeat: no-repeat;
	height: 38px;
	text-align: center;	
	padding-top: 8px;
	display: block;
	color: #223A44;
	margin: 0;
	margin-bottom: 24px;
}



.ba-team-quote{
	margin: 0;
	padding: 82px 100px 0px;
	height: 417px;
	background: #CE3A4B;
	color: #F9F4F4;
	position: relative;
	& p {
		margin: 0;
		font-weight: 600;
		font-style: italic;

	}
	& p:first-child{
		margin-bottom: 29px;
	}
	
}
.ba-team-quote:before{
	display: block;
	width: 30px;
	height: 30px;
	position: absolute;
	content: '';
	top: 29px;
	left: 104px;
	background-image: url(../img/icon_quotes.png);
	background-repeat: no-repeat;
}
.ba-service{
	// overflow: hidden;
	background:#223A44;
	padding: 121px 0  155px;
	position: relative;

	& h2{
		text-transform: uppercase;
		font-size: 64px;
		font-weight: 900;
		text-align: right;
		margin-bottom: 63px;
	}
}
#ba-map-form{
	width: 100%;
	height: 400px;
}

.ba-anchor__form{
	position: relative;
	background:#223A44;
	padding-bottom: 56px;
	padding-top: 20px;
	overflow: hidden;
	#anchor-contact{
		position: absolute;
		content: '';
		right: 0;
		top: -31px;
		background: transparent;
	}
	.ba-contact-anchor{
		position: relative;
		h2{
			text-transform: uppercase;
			text-align: right;
			font-size: 64px;

		}
	}

}

.ba-bg-block{
	position: absolute;
	content: '';
	bottom: -114px;
	left: 3%;
	width: 742px;
	height: 195px;
	background: #CE3A4B;
	transform: rotate(-11deg);
	
}

.ba-price{
	position: relative;
	.service{
	position: absolute;
	content: '';
	background: transparent;
	right: 0;
	top: -30px;
	}
	& ul{
		
		list-style: none;
		color: #F9F4F4;
		margin: 0;
		padding: 0;
		
		
		& li{
			margin-bottom: 31px;
			font-size: 18px;
			position: relative;
			
			

			
		}
	}
}
.ba-list-price{
	display: flex;
	justify-content: center;
	.ba-name-list {
		margin-right: 10px;
		li:before{
			position: absolute;
			content: '';
			top: 10px;
			left: -45px;
			width: 10px;
			height: 10px;
			background:#CE3A4B;
			border-radius: 50%;
		}
	}
}

.ba-connect-form{
// padding: 50px 0 72px;
position: relative;
// background: url(../img/Screenshot_map.jpg);
// background-size: cover;
// background-repeat: no-repeat;
}

.ba-connect{
	z-index: 2;
	max-width: 570px;
	position: absolute;
	top: 40px;
	right: 40px;
}

.ba-form{
	padding: 33px 39px 50px;
	background: #B2BBBA;
	color: #223A44;
	text-align: center;
	max-width: 470px;
	position: absolute;
	z-index: 2;
	left: 40px;
	top: 40px;
	& h3{
		text-transform: uppercase;
		color: #223A44;
		margin-bottom: 22px;
		font: 400 24px/1 'Oswald', sans-serif;
		letter-spacing: 2px;
	}
	& p{
		margin: 0;
		margin-bottom: 32px;
		font-size: 14px;
	}
	& form{
		display: flex;
		flex-direction: column;
		
		& input{
			padding: 9px 0 14px 19px;
			margin-bottom: 30px;
			
		}
		& input::placeholder{
			font-size: 12px;
		}
		& textarea::placeholder{
			font-size: 12px;
		}
	}
}
.ba-input-messg{
	padding: 9px 0 0 19px;
	height: 120px;
	margin-bottom: 40px;
	resize: none;
}
.ba-input-messg::placeholder{
	font-size: 14px;
}
.ba-btn-form{
	display: flex;
	justify-content: flex-end;
	& button{
	width: 230px;
	background: transparent;
	border: 2px solid #223A44;
	font: 900 18px/1 'Oswald', sans-serif;
	color: #223A44;
	padding: 10px 0 14px;
	position: relative;
	text-transform: uppercase;
	}
	& button::before{
		position: absolute;
		content: '';
		width: 0;
		height: 0;
		border-bottom: 26px solid #CE3A4B;
		border-left: 25px solid transparent;
		right: -2px;
		bottom: -2px;
	}
	& button:hover{
		background: #CE3A4B;
		border: 2px solid transparent;
	}
}
.ba-connect{
	display: flex;
	flex-direction: row;
	
	background: #B2BBBA;
	&__img{
		display: flex;
		
	}
	&__info{
		max-width: 270px;
		padding: 32px 65px 21px;
		text-align: center;
		& h2{
			font: 400 24px/1 'Oswald', sans-serif;
			text-transform: uppercase;
			letter-spacing: 2px;
			color: #223A44;
			margin-bottom: 27px;
		}
		
		&--adress{
			margin-bottom: 29px;
			& p{
			font: 400 14px/1 'Open Sans', sans-serif;
			color: #223A44;
			margin: 0;
			}
			& p + p{
				margin-top: 5px;
			}
		}
		&--tel{
			& p{
			font: 400 14px/1 'Open Sans', sans-serif;
			color: #223A44;
			margin: 0;
			}
			& p + p{
				margin-top: 9px;
			}
		}
		

		
	}
	
}
.ba-footinfo{
	display: flex;
	justify-content: space-between;
	padding: 7px 0 15px;
	&__logo{
		display: flex;
		flex-direction: row;
		align-items: center;
		padding-top: 11px;
		& h2{
			max-width: 150px;
			font-family: "Celtic";
			text-transform: uppercase;
			margin-left: 24px;
			font-size: 18px;
		}
		& img{
			max-width: 80px;
			height: 80px;
		}
	}
	
	&__menu{
		display: flex;
		padding-top: 27px;
		& ul{
		list-style: none;
		padding: 0;
		margin: 0;
		font-size: 14px;
			& li{
				margin-bottom: 10px;
				
				& a {
					border-bottom: 1px solid transparent;
				}
				& a:hover{
					border-bottom: 1px solid #F9F4F4;
				}
			}
			
		}
		& ul + ul{
			margin-left: 40px;
		}
	}
	&__street{
		padding-top: 31px;
		p {
			color: #F9F4F4;
			font-size: 14px;
			margin: 0;
		}
		p + p{
			margin-top: 10px;
		}
	}
}
.ba-footer{
	background: #223A44;
}
.ba-border-foot{
	border-top: 3px solid #CE3A4B;

}
.ba-footsocial{
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-top: 7px;
	font-size: 14px;
	color: #F9F4F4;
	&__soc{
		padding-left: 104px;
		& a + a{
			margin-left: 16px;
		}
		& a:hover{
			color: #CE3A4B;
		}
	}
	
}

.ba-menu-adaptive{
	
	z-index: 100;
	position: fixed;
	width: 100%;
	height: 100%;
	background: rgba(34, 58, 68, 0.94);
	padding-top: 67px;
	display: block;
	transform: translateY(calc(-100% - 1000px));
	transition: transform 0.4s ease-in-out;

}
.ba-open{
	transform: translateY(0);
	display: block;
	visibility: visible;
}
.ba-click{
	#span1{
		transform: translateY(9px) rotate(45deg);
	}
	#span3{
		transform: translateY(-9px) rotate(-45deg);
	
	}
	#span2{
		transform: translateX(-200px);
	}

}
.menu-toggle{
	overflow: hidden;
	display: none;
	flex-direction: column;
	align-items: stretch;
	justify-content: space-between;
	width: 35px;
	height: 30px;
	background: #BFC0C2;
	border: none;
	padding: 5px;
	position: absolute;
	right: 30px;
	top: 5px;
	z-index: 5;	
	span{
		height: 3px;
		width: 100%;
		background-color: #223A44;
		border-radius: 5px;
		transition: transform 0.4s ease-in-out;
	}
}
.ba-menu-resp{
	& ul{
		text-align: center;
		margin: 0;
		padding: 0;
		list-style: none;
		& li {
			font-size: 30px;
		}
		& li + li{
			margin-top: 30px;
		}
	}
}
.ba-about__adaptive{
	display: none;
}

@media screen and (max-width: 1024px){
	.ba-list-header-hair{
		display: none;
	}
	.menu-toggle{
		display: flex;
	}
	.ba-connect__info{
		padding: 20px 0 18px;
		& h2{
			font-size: 11px;
			margin-bottom: 15px;
		}
		&--adress{
			margin-bottom: 10px;
			& p {
			font-size: 11px;
			}
		}
		&--tel{
			& p {
			font-size: 11px;
			}
		}
	}
	.ba-connect__img{
		height: 180px;;
	}
	.ba-connect-form{
		// padding-top: 36px;
	}
	.ba-btn-form{
		& button{
		padding: 10px 0 11px;
		max-width: 166px;
		}
	}
	.ba-input-messg{
		height: 163px;
		margin-bottom: 31px;
	}
	.ba-connect{
		flex-direction: column;
		max-width: 309px;
		&__info{
			max-width: none;
		}
	}
	.ba-form{
		padding: 14px 27px 37px 28px;

		max-width: 310px;
		form{
			& input{
				padding: 4px 33px 10px 13px;
				margin-bottom: 8px;
				max-width: 254px;
			}
		}
		& h3{
			font-size: 11px;
			margin-bottom: 10px
		}
		& p {
			font-size: 11px;
			margin-bottom: 18px;
		}
	}
	.ba-bg-block{
		width: 357px;
		height: 260px;
		transform: rotate(-13deg);
		left: 0%;
		bottom: -148px;
	}
	.ba-price{
		& ul{
			margin-top: 71px;
			// margin-bottom: 127px;
			
			& li{
				font-size: 18px;
				margin-bottom: 16px;
			}
		}
	}
	.ba-service{
		padding: 70px 0 94px;
		& h2{
			margin: 0;
		}
	}
	.ba-anchor__team{
		padding-bottom: 40px;
		margin-bottom: 40px;
	}
	.ba-service::after{
		display: none;
	}
	.ba-service::before{
		display: none;
	}
	.ba-team-quote{
		height: 100%;
		padding: 54px 66px 45px;
		& p{
			font-size: 12px;
		}
		
	}
	.ba-team-quote p:first-child{
		margin-bottom: 18px;
	}
	.ba-team-quote::before{
		top: 20px;
		left: 71px;
		width: 19px;
		height: 17px;
		background-image: url(../img/ipad/icon_quotes.png);
	}
	.ba-team-experience{
		font-size: 12px;
		margin-bottom: 28px;
	}
	.ba-social-email{
		font-size: 14px;
		background-image: url(../img/ipad/icon_mail.png);
		margin-bottom: 2px;
	}
	.ba-social-tel{
		font-size: 14px;
		background-image: url(../img/ipad/icon_phone.png);
		margin-bottom: 3px;
	}
	.ba-team{
		background-image: url(../img/ipad/logo.png);
		background-position: 50% 23%;
		&__block{
			max-width: 307px;
		}
		
		&__people{
			& h6{
				margin-bottom: 29px;
				font-size: 18px;
			}
		}

	}
	.ba-photo-social{
		margin-bottom: 33px;
		& a{
			& svg{
			width: 29px;
			height: 29px;
			}
		}
		&--insta{
			right: 10px;
			top: 30px;
		}
		&--facebook{
			right: 10px;
			top: 85px;
		}
	}
	.ba-team-info{
		
		padding-bottom: 82px;
		}
	
	
	
	.ba-btn-sing__up{
		margin-bottom: 58px;
		& a{
		max-width: 223px;
		font-size: 18px;
		padding: 18px 0;
		}
	}
	.ba-block-bg{
		width: 800px;
		height: 376px;
	}
	.ba-salon-info::after{
		display: none;
	}
	.ba-salon-info{
		padding-bottom: 39px;
		& .ba-row + .ba-row{
			margin-top: 21px;
		}
		& h5 {
			margin: 98px 0 58px;
		}
	}
	.ba-salon-info__block{
		padding: 13px 0 20px;
		max-height: none;
		& img {
			width: 36px;
			height: 36px;
		}
		& h4{
			font-size: 11px;
			margin-bottom: 15px;
		}
		& p{
			font-size: 12px;
			max-width: 176px;
			margin-top: 14px;
		}
	}
	.margin-adaptive{
		margin-bottom: 54px;
	}
	.ba-graph__flex{
		flex-wrap: wrap;
		margin-bottom: 79px;
		.ba-col-2 + .ba-col-2{
			margin: 0;
		}
	}
	.ba-col-2{
		width: 26%;
		span::after{
			right: -95px;
		}
		& span::before {
			left: -95px;
		}
	}
	.ba-we-do{
		& ul{
			& li{
				font-size: 14px;
			}
			& li + li::before{
				position: absolute;
				left: -28px;
			}
			& li + li{
				margin-left: 44px;
			}
		}
	}
	.ba-flex{
		& h3{
			margin-bottom: 44px;
		}
		& h4{
		display: inline-block;
		text-align: right;
		font: 400 24px/1 'Oswald', sans-serif;
		text-transform: uppercase;
		letter-spacing: 2.6px;
		margin-bottom: 27px;
		}
	}
	.ba-about{
		margin-bottom: 31px;
		& span{
			display: none;
		}
		& p{
		font-size: 18px;
		margin-right: 0;
		}
	}
	.ba-about-us{
		padding-top: 73px;
		padding-bottom: 38px;
	}
	.ba-about-us::before{
		display: none;
	}
	.ba-about-us::after{
		width: 432px;
		height: 232px;
		left: -31px;
		top: -139px;
	}
	.ba-portfolio-btn{
		& h2{
			font-size: 24px;
			letter-spacing: 2px;
			margin-bottom: 34px;
			margin-right: 41px;
		}
		& a{
			width: 227px;
			font-size: 18px;
			margin-right: 3px;
		}
	}
	.ba-section-change{
		background-image: url(../img/ipad/photo_women.jpg);
		background-size: cover;
		background-repeat: no-repeat;
		padding: 284px 0 57px;
	}
	#menuToggle{
		display: flex;	
	
	}
	
	
	.ba-flex-end{
		display: block;
	}
	.ba-header{
		padding: 15px 0;
		
		&__logo{
			width: 102px;
			height: 101px;
			top: -4px;
			left: 17%;
		}
		&__menu{
			& h1{
			font-size: 23px;
			margin: 0;
			text-align: center;
			}
		}
	}
	.ba-header__menu{
		& ul{
		display: none;
		}
	}
}
@media screen and (max-width: 768px){
	.ba-block-bg{
		width: 600px;
	}
	.ba-name-list{
		.list-adaptive{
			display: none;
		}
	}
}

@media screen and (max-width: 660px){
	.ba-next-hair{
		bottom: 42%;

	}
	.ba-prev-hair{
		bottom: 53%;
	}

	.slick-slide{
		img{
			width: 49%;
		}
	}
	.ba-section-hair{
		padding: 0;
		padding-top: 25px;
	}
	.ba-hair{
		flex-direction: column;
	}
	.ba-hair__block{
		display: flex;
		align-items: center;
		flex-direction: column;
		width: 100%;
		margin-bottom: 45px;
		
	
	}
	.ba-menu-resp{
		ul{
			li{
				font-size: 12px;
			}
		}
	}
	.ba-form{
		position: relative;
		left: 0;
		top: 0;
		max-width: 100%;
		margin-bottom: 0;
		form{
			input{
				max-width: 100%;
			}
		}

	}
	.ba-connect{
		display: none;
	}

	.ba-footsocial{
		
		justify-content: center;
		&__soc{
			padding-left: 0;
		}
		&__email{
			display: none;
		}
		&__tel{
			display: none;
		}
	}
	.ba-footinfo{
		flex-direction: column;
		justify-content: center;
		align-items: center;
		&__menu{
			padding-top: 0;
			flex-direction: column;
			ul + ul{
				margin-left: 0;
			}
			ul{
				text-align: center;
			}
		}
		&__street{
			display: none;
		}
	}
	.ba-footinfo__logo{
		padding-top: 0;
		max-width: 150px ;
		margin-bottom: 10px;
		img{
			width: 46px;
			height: 46px;
		}
		h2{
			margin-left: 5px;
			font-size: 13px;
		}
	}
	.ba-connect__info{
		padding: 20px 20px 18px;
	}
	.ba-connect__img{
		display: none;
	}
	.ba-form{
		padding: 15px;
	
	}
	.ba-flex-form{
		flex-wrap: wrap;
		justify-content: center;
	}
	.ba-bg-block{
		width: 184px;
		height: 109px;
		bottom: -56px;
	}
	.ba-anchor__form{
		.ba-contact-anchor{
			h2{
				font-size: 18px;
			}	
		}
		
	}
	.ba-price{
		h2{
			font-size: 18px;

		}
		.ba-list-price{
			ul li{
				font-size: 12px;
			}
		}
	}
	.ba-team-quote{
		padding: 38px 10px;
		&::before{
			top: 10px;
			left: 17px;
		}
	}
	.ba-team-info{
		.ba-team{
			.ba-team__block + .ba-team__block{
				margin-top: 69px;
			}
			background-image: none;
			flex-wrap: wrap;
			justify-content: center;
			&__people{
				h6{
					font-size: 12px;
					margin-bottom: 15px;
				}
			}
		}
	}

	.ba-anchor__team{
		padding-bottom: 22px;
		margin-bottom: 13px;
		h3{
		font-size: 18px;
		}
	}
	.ba-btn-sing__up{
		margin-bottom: 0;
		a{
			max-width: 111px;
			font-size: 12px;
			padding: 9px 19px;
			&::after{
				border-bottom: 10px solid#CE3A4B;
				border-left: 10px solid transparent;
			}
		}
	}
	.ba-block-bg{
		width: 250px;
		height: 1150px;
		top: 13px;
		left: -25%;
	}
	.ba-salon{
		padding-bottom: 47px;
	}
	.ba-salon-info{
		.ba-row + .ba-row{
			margin-top: 13px;
		}
		h5{
			font-size: 11px;
			margin: 25px 0 17px;
		}
		h4{
			font-size: 12px;
			letter-spacing: 1px;
			margin-bottom: 18px;
		}
	.ba-col-4{
		width: 100%;
		
	}
	
	.ba-col-4 + .ba-col-4{
		margin-top: 13px;
	}
	&__block{
		padding: 26px 0 38px;
		p{
			margin-top: 15px;
			max-width: 270px;
		}
	}
}
	.ba-graph-holiday{
		h6{
			width: 132px;
			height: 81px;
			font-size: 12px;
			&::after{
				left: -20px;
				width: 166px;
				height: 16px;
				font-size: 12px;
			}
		}
	}
	.margin-adaptive{
		margin-bottom: 0;
	}
	.ba-graph__flex{
		margin-bottom: 17px;
	}
	.ba-graph {
		padding: 12px 0 28px;
		margin-bottom: 10px;
		h6{
			margin-bottom: 6px;
		}
	}

	.ba-graph{
		h6{
		font-size: 12px;
		}
		span{
			font-size: 12px;
			&:before{
				left: 0;
				width: 200%;
			}
			&:after{
				right: 0;
				width: 200%;
			}
		}
	}
	.ba-col-2{
		max-width: 125px;
		width: 50%;
	}
	.ba-we-do{
		ul{
			justify-content: center;
			flex-wrap: wrap;
			li + li{
				margin-left: 12px;
				margin-bottom: 6px;
			}
			li + li::before{
				display: none;
			}
		}
		li{
			font-size: 14px;
		}
		
	}
	.ba-flex{
		h3{
			font-size: 18px;
			margin-bottom: 10px;
		}
		h4{
			font-size: 11px;
			letter-spacing: 1.2px;
			margin-bottom: 15px;
		}
	}
	.ba-about{
		margin-bottom: 48px;
		p{
			font-size: 12px;
			text-align: center;
		}
	}
	.ba-about-us::after{
		width: 183px;
		height: 187px;
	}
	.ba-about-us{
		padding-top: 23px;
		padding-bottom: 17px;
	}
	.ba-portfolio-btn{
		padding-bottom: 9px;
		a{
			max-width: 113px;
			margin-right: 10px;
			font-size: 12px;
			padding: 10px 0;
		}
		a::after{
			border-bottom: 10px solid#CE3A4B;
			border-left: 10px solid transparent;
		}
	}
	.mobile-adaptive-list{
		display: none;
	}
	
	.ba-portfolio-btn{
		& h2{
			display: none;
		}
	}
	.ba-section-change{
		padding: 142px 0 0;

	}
	
	.ba-header{
		padding: 8px 0;
		&__logo{
			max-width:44px;
			height: 44px;
			top: -6px;
			left: 22px;
		}
		&__menu{
			& h1{
				padding-left: 53px;
				font-size: 12px;
				max-width: 94px;
				word-spacing: 0;
				text-align: left;
			}
		}

	}
}
@media screen and (max-width: 400px){
	.ba-next-hair{
		display: none;
	}
	.ba-prev-hair{
		display: none;
	}
	.slick-slide{
		img{
			width: 100%;
		}
	}
	

}